.hotel-card {
    background-color: #F6EABE;
    width: 80vw;
    height: 40vh;
    border: 1px solid black;
    margin-left: 5vw;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

.hotel-img {
    grid-area: 2 / 2 / 9 / 10;
    width: 100%;
    height: 100%;
}

.hotel-name {
    grid-area: 9 / 4 / 10 / 8;
    background-color: #7E370C;
    border: 1px groove gray;
    text-align: center;
    color: white;
}